/** Only for index.html **/

.site-header{
    color: #fff;
    background: rgb(0,115,255);
}

.site-header #site-header-brand {
    color: #fff;
}

.site-header .site-header-nav-item {
    color: #e4e4e4;
}

.site-header a:hover {
    color: #fff;
}

.jumbotron {
    /*background: rgb(0,115,255);*/
    padding: 45px 15px 50px;
    /*text-align: center;*/
    color: #fff;
    font-size: 18px;
    background-size: 100%;
    background-color: rgb(0,115,255);
    background-repeat: initial;
    background-attachment: scroll;
    /*background-image: url("/assets/images/organization_header_banner_(black).png");*/
    background-image: url("/assets/images/organization_header_banner_(white).png");
}

.site-header.site-header-nav-scrolled a {
    color: #2e2e2e;
}

.site-header.site-header-nav-scrolled #site-header-brand {
    color: #2e2e2e !important;
}

.site-header.site-header-nav-scrolled a:hover {
    color: #4183c4;
}
